# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Rope project settings (used by Python IDEs like PyCharm or VSCode extensions)
.ropeproject/

# Ignore Python bytecode cache
__pycache__/
